[2022-06-08 20:51] drdoof2019 commented on #537
I've increased data count from last 100 hour to 1000 hour and it works! This is the result
![Figure_1](https://user-images.githubusercontent.com/50274757/172714171-2ff79f5d-6ebd-4ef9-8af3-9a186e31562d.png)
As you said the main problem was, I was lack of data.
Thank you for your kind help. I hope my best wishes for you :)

[2022-06-09 07:13] lyl1836 commented on #523
@DanielGoldfarb ：

I clearly remember that you had a new reply to this question last time, but now why can't you find it? Is the data lost?

Can you give me the last answer again?

[2022-06-09 10:40] lyl1836 opened #538 "How do I hide the X axis?"
@DanielGoldfarb ：

I want to hide the scale of x-axis or y-axis. What is the method?

![img1](https://user-images.githubusercontent.com/48607893/172828520-cbc5865e-33e6-4c36-9402-a28812e53dd2.png)

[2022-06-09 11:40] DanielGoldfarb commented on #523
Is this what you are looking for?
[**Does mplfinance support simple line diagram without K line?**](https://github.com/matplotlib/mplfinance/issues/524)

[2022-06-09 11:40] #523 closed

[2022-06-09 11:48] DanielGoldfarb commented on #524
Note:  In each the above examples, you can also make the k line (candlestick) chart even more hidden by adding `type='line'` and `linecolor=background_color` to your call to `mpf.plot(df,type='line',linecolor=background_color,addplot=ap)` where background_color is a color specifier that matches the face color of the plot.  In this way the main OHLC plot will be a line and will match in color to th

[2022-06-09 12:02] DanielGoldfarb commented on #538
Try passing a null string to kwarg `datetime_format`:

[code]

---

Alternatively, you can remove all axes by setting **`axisoff=True`**
[code]

[2022-06-09 12:02] #538 closed

[2022-06-09 12:04] DanielGoldfarb commented on #537
[**Beautiful chart!**](https://user-images.githubusercontent.com/50274757/172715901-4c9a6739-305a-4ad1-a4cc-a227f33e8a3b.png).   Thanks for sharing!

[2022-06-10 18:17] stevenm100 commented on #80
I got close by doing the following:
[code]
It took a bit of wrangling to get the arrow in the correct location, but this is close enough for me.

[2022-06-10 18:18] stevenm100 commented on #58
putting the same comment here on this duplicate, hope it helps...

I got close by doing the following:
[code]
It took a bit of wrangling to get the arrow in the correct location, but this is close enough for me.

[2022-06-10 20:37] DanielGoldfarb commented on #80
@stevenm100   Thank you for sharing your code!

[2022-06-13 05:19] ZX2XZX2 commented on #528
@TraderMan999: this code will add more dates to the x-axis; it will label every Monday (`df` is the dataframe you want to chart):
[code]

[2022-06-13 16:53] TraderMan999 commented on #528
Thx I’ll give it a try!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: ZX2XZX2 ***@***.***>
Sent: Sunday, June 12, 2022 10:19:11 PM
To: matplotlib/mplfinance ***@***.***>
Cc: TraderMan999 ***@***.***>; Mention ***@***.***>
Subject: Re: [matplotlib/mplfinance] Add more dates to X axis? (Issue #528)

@TraderMan999<https://github.com/TraderMan999>: this code will a

[2022-06-16 13:38] lambolambert commented on #218
hows this one coming along?

[2022-06-16 13:51] DanielGoldfarb commented on #218
@lambolambert

This is done.
See bottom of following link for usage details:
https://github.com/matplotlib/mplfinance/blob/master/examples/fill_between.ipynb

[2022-06-16 13:53] DanielGoldfarb commented on #218
P.S. make sure you have installed the most recent version.

[2022-06-16 22:00] Jonarod commented on #490
@DanielGoldfarb The blurriness mentioned is due to the fact that mplfinance seems to force candles to have "roundness". When you zoom in any candle image to the maximum, you will see that edges are blurred by default to give the illusion that the corner of the candle is somewhat "round". To give this illusion (which is unnecessary and should be an option IMHO), mplfinance does indeed force edge an

[2022-06-17 08:51] NaveenKota532 opened #540 "Dumping renko data to dictionary without chart generation"
Dear Team,

I am using following statement

renko_dict = {} # reassign every time before your
 fplot.plot(dataframe, type='renko', renko_params=dict(brick_size=brick_size), return_calculated_values=renko_dict,
                       returnfig=True)

If I am using returnfig =False, chart is getting generated.
If I am using returnfig =True, I am getting the following exception
Fail to create pixmap

[2022-06-19 11:05] DanielGoldfarb commented on #540
Need more information about your environment, *and your full code:*

This ***is not* an mplfinance exception.  There is something else you are doing.   `returnfig=True` should do the trick for you.   Alternatively in external axes mode mplfinancr will also *not* display the plot.

[2022-06-21 22:13] cryptoliciousdev commented on #181
it was. it worked. THANKS Daniel! How would i get the 5 mav into that legend to take those first 5 colors in the legend...and get the s2 toch2 n 2 macd out of that legend?
the mav colors are being mapped incorrectly, not to the mavs, but to the supertrend n psars . thanks
![btcplot](https://user-images.githubusercontent.com/97939226/174905725-af4bc7f5-eadb-434d-91b0-2c454a524fd2.png)

[2022-06-22 12:16] Rickaym opened #541 "Plotting a Swing chart over the generic OHLC chart"
I'm want to visualize a swings/price movement chart over a normal OHLC chart, e.g., like the attachment below.

![image](https://user-images.githubusercontent.com/66440980/175025853-e3eba223-2d5c-4362-b802-68d051d5cf2b.png)

I have written the following code:
[code]
The issue here is that the "Swing" dataframe does not have a data entry for every single date, it only marks where and when the price

[2022-06-22 19:38] g3blv opened #542 "Update plot, remove old data show new data"
Thanks for an amazing library!

I'm trying to create an application where the user can select a ticker and then click a button that prints candlesticks for the ticker. I'm plotting the graph inside a frame in Tkinter.

![image](https://user-images.githubusercontent.com/45568043/175118835-f5a165f7-c7e1-48dd-8ebf-69d4759a12ea.png)

The user can select a ticker in the drop down and Graph the data for

[2022-06-22 21:51] DanielGoldfarb commented on #542
I don't know if this will work (and don't have time now to test it myself) but have you tried this:
Instead of destroying ... save the axes list:
[code]

Then when you want a black graph:
[code]

Please let me know if that works.

[2022-06-23 23:47] cryptoliciousdev commented on #181
this helped BUT how do i get proper colors on other panels ....lost a whole day experimenting , no luck. thanks in advance

  ap3 = {

        "SuperTrend_Long": mpf.make_addplot(df['SUPERTl'].tail(tail_num), color='g'),
        "SuperTrend_Short": mpf.make_addplot(df['SUPERTs'].tail(tail_num), color='r'),
        "PSAR_Long": mpf.make_addplot(df['PSARl'].tail(tail_num), color='y'),
        "PSAR_

[2022-06-24 00:49] DanielGoldfarb commented on #181
Have you tried using `axes[7]`?  You have a total of 4 panels (`0-3`), which means 8 Axes: `0-7`

Also, I'm confused by something in your code:  The code appears to be putting StochRSI on panel 2, and macd on panel 3.  But in the plot image StochRSI is on the bottom panel (panel 3) and MACD is just above that (panel 2).

I would also point out that the StochRSI panel has y-ticks on both the left a

[2022-06-24 01:27] cryptoliciousdev commented on #181
YES , thanks, my mistake flipping the labels and secondary_y all being true. fixed that!
and i got the stochrsi colors to be correct in the legend now :D pulling into handles4 and referencing handles4 made it work!

[code]

THANKS and hope the mulitpanel legend struggle of mine helps people
![2022-06-24_01_00_00_UTC_BTC-USDT_1h](https://user-images.githubusercontent.com/97939226/175441507-6144c1d0

[2022-06-24 12:56] DanielGoldfarb commented on #181
There is no question.  ***Posting your struggles here definitely helps other mplfinance users***.

Not only does it help them directly, but it will help them indirectly in the future, as it is my intention to implement a `legends` kwarg to `mplfinance.plot()` hopefully before the end of this year.  All of the posts [in this issue](https://github.com/matplotlib/mplfinance/issues/181) will certainly

[2022-06-24 16:19] g3blv commented on #542
Thank you very much. i wasn't able to solve it by clearing the the `ax`. Seems like I have to use `destroy()` when using a `canvas` in Tkinter.

[refresh matplotlib figure in a tkinter app](https://stackoverflow.com/questions/41458139/refresh-matplotlib-figure-in-a-tkinter-app#comment70123656_41458139)

[2022-06-24 16:32] DanielGoldfarb commented on #542
@g3blv
Thank you for the update.  Much appreciated.  I don't know much about tkinter, however we do get several mplfinance/tkinter related questions from time to time.  I appreciate your taking the time to post here.   Thank you.

[2022-06-24 23:44] stevenm100 commented on #485
with a bit of a battle, I was able to get items added to the chart area (theres probably an easier way and i missed it lol), in this case an annotation with a bounding box (arrow style), you may be able to adapt to a rectangle using other matplotlib annotate functions and a calculation of the size. The reason to post this is the highlight that with a bit of calculation its possible using annotate.

[2022-06-25 05:38] brcake opened #543 "Can i set a color by a value in my csv?I tryed to search something like this but i cant"
my csv return values like white, black and red. I want this colors on the candles  :
[code]

[2022-06-25 06:26] brcake commented on #378
can i use a column of my csv with black, white and red to  paint my candles with the color ?

[2022-06-26 02:48] DanielGoldfarb commented on #378
@brcake
Take a look at the [**market color overrides tutorial**](https://github.com/matplotlib/mplfinance/blob/master/examples/marketcolor_overrides.ipynb).   Presently you can store the market colors as a column in your dataframe, however that column will be ignored except that you can also "manually" take the values from that column and pass them to the `marketcolor_overrides` kwarg.

This is an

[2022-06-26 15:39] DanielGoldfarb commented on #543
Read this completely:  https://github.com/matplotlib/mplfinance/blob/master/examples/marketcolor_overrides.ipynb

That is how to do it.

[2022-06-28 14:57] andreffael commented on #428
Hi @DanielGoldfarb , any updates on the enhancement?

I'm also trying to plot 1D:1min charts and have the axis be in 30min increments at either (H:00 or H:30). However, since my data starts at the previous close, after 8PM EST (prev day) there will be no data until 4AM EST (current day) at the least.

Using the set_major_locator method I've been able to increase the number of axis labels and have

[2022-06-28 16:43] mahmoodsoltani opened #544 "Close Plot"
Ask anything you want about mplfinance usage, project philosophy and/or priorities, or anything else related to mplfinance.
hi everyone,
how can I close plots? I create plots in a loop and after some iterates, when I call .show() function, all of the plots will appear on seperate windows!This is while only the last one is important for me. how can I closse all of plots except last one?

[2022-06-29 13:45] DanielGoldfarb commented on #544
`mpf.plot(data,...closefig=True)` will tell mplfinance to close the plot before returning.  It is likely then, that the plot will only briefly flash on the screen, and then disappear.  It will be up to you, in your code, to determine when you are on the last plot that you do not want to close.

Alternatively, if you are calling `mpf.show()` yourself, then it sounds like you are either using `retur

[2022-07-01 03:08] incoghardo opened #545 "Renko Chart"
Is it possible to get a data frame for the Renko chart that gives the open - close date and open - close range of each brick?

[2022-07-01 11:51] DanielGoldfarb commented on #545
https://github.com/matplotlib/mplfinance/wiki/Access-to-mplfinance-Calculated-Values

[2022-07-01 11:51] #545 closed

[2022-07-02 20:54] TraderMan999 opened #546 "Can't get color override to work with a custom defined "make_marketcolors()"
[code]

[code]

[code]

Here's some sample data I'm using in a csv file:

[code]

So esentially, every row with None becomes a None type object and the single row with 'red' should become a custom defined style i created above.  When i run this i get s stack dump saying i dont have an arg 'colors' defined as a key.  Here's the actual dump:

[code]

Any suggestions?  The issue i have is i like bein

[2022-07-02 21:17] TraderMan999 commented on #546
Maybe a similar way to achieve the same visual (irrespective of me getting the above to work) is to bold the date on the X axis that one wants to point out.  I am generally looking at data around specific dates and times and want a visual way to say "you are here" and this is the stuff before and this is the stuff after.  If i can get the above to work, it achieves the same thing but also maybe ju

[2022-07-03 19:16] TraderMan999 commented on #546
Another idea i had was to just to do an addplot.  is there a link that shows all the thingis that can be don ewith it and the various symbols that can be created?  I found the examples page but then i see things like types, markersize, color, etc and dont see where the universe of options is described.  this may work well for me

[2022-07-05 15:25] #544 closed

[2022-07-07 12:55] #543 closed

[2022-07-11 05:52] Rickaym commented on #541
Hey guys, any clue?

[2022-07-12 20:49] #546 closed

[2022-07-24 13:04] RaybenRed opened #547 "Feature Request:Remove defaulting matplotlib style"
First of all thank you for this amazing job!

**Is your feature request related to a problem? Please describe.**
At every `mpf.plot` call, `_styles._apply_mpfstyle` resets matplotlib style to default, this is annoying for people that either do not want to bother with matplotlib custom styles files or need to dynamically change matplotlib style.

**Describe the solution you'd like**
Commenting out

[2022-07-29 07:08] drdoof2019 commented on #181
[code]

This gives error:
[code]
Couldn't find what is the cause of error. Can anybody help?

[2022-07-29 14:38] DanielGoldfarb commented on #547
@RaybenRed -  Thank you for contributing.  I will assume that you have worked through, and thoroughly understand, [the tutorial on **mplfinance styles**](https://github.com/matplotlib/mplfinance/blob/master/examples/styles.ipynb).   If you have not done that, please work through that now.

The reason for the line `plt.style.use('default')` in `_styles._apply_mpfstyle.py` is to **ensure that [mplfi

[2022-07-31 10:49] RaybenRed commented on #547
Thanks a lot for your crystal clear answer. You are of course right, consistency between styles is broken when I tried commenting that line... My initial problem was that my custom matplotlib configuration is in conflict with mpf `mpl.use(style)` calls, but I realized that in fact, mpf rcParams.update calls (from different builtin styles) would alter it too.

So the solution I inexpertly suggested

[2022-07-31 10:49] #547 closed

[2022-07-31 16:17] DanielGoldfarb commented on #547
Thanks.  One thing I will point out that may be helpful for you, is the ability to customize any matplotlib rcParams values when creating an mplfinance style.  This is only mentioned briefly with no elaboration [in the "Optional Keyword Arguments" table at the end of the styles tutorial](https://github.com/matplotlib/mplfinance/blob/master/examples/styles.ipynb) ... function **`mpf.make_mpf_style(

[2022-08-01 01:32] MammadK commented on #395
##### First of all thanks for your great work and passionate support
I have almost the same issue. I want to plot 3 list of lines using `alines`:
[code]
for first two lists, I plotted them with this code and worked fine:

[code]
after added `L3` to `lineList `, I've encountered the same error. I've tried your solution mentioned here but didn't work for me and raised the same error again. basically

[2022-08-01 22:06] DanielGoldfarb commented on #395
@MammadK
Keep in mind, as stated above, the `alines` definition (from the [using lines documentation](https://github.com/matplotlib/mplfinance/blob/master/examples/using_lines.ipynb)):

    a sequence of two or more date/price pairs, or
    a sequence of sequences of two or more date/price pairs

However `a ` **`sequence of sequences of sequences ...`** (i.e. three levels deep) ... is ***not*** va

[2022-08-01 22:33] MammadK commented on #395
@DanielGoldfarb
thanks for your reply and apologize for not explained my issue in detail
I added `L3` to `lineList`  as blow:
[code]
I will try your suggestion:
[code]
and will post the result.

[2022-08-01 22:56] MammadK commented on #395
@DanielGoldfarb
Thank you so much. I edited my code based on what you suggested and now it works

`L3` are enclosed Horizontal lines:

![Figure_4](https://user-images.githubusercontent.com/16358451/182258873-e866e3ff-4a59-4d62-ac18-a1be158caf42.png)

[2022-08-01 23:01] DanielGoldfarb commented on #395
@MammadK
Nice plot!!   Thank you for sharing!

[2022-08-01 23:31] MammadK commented on #395
@DanielGoldfarb
thank you for your motivation! I'm trying to define and analyze minor and major swings and price behavior after they're broken. it still needs a lot of optimizations...

[2022-08-08 15:25] henribu opened #548 "Adding an oscillator to a Renko chart"
Hello Daniel,

Thanks again for your fabulous library. I'm scratching my head on how to add a subpanel for a renko chart. I'm trying to add an indicator in the lower panel (an oscillator). Getting into some non-iterrable item error using the external_axes trick. Some help would be much appreciated.

I'm looking for this end result:

![Screenshot 2022-08-08 at 11 16 41 PM](https://user-images.githu

[2022-08-09 14:55] DanielGoldfarb commented on #548
Regarding adding a lower panel (for an oscillator or anything else) to a Renko chart, as you may have noticed, mplfinance does not support `mpf.make_addplot()` with Renko or Point and Figure.  This is because both of these chart types (and all such "price movement" chart types) create a very ***non-linear*** (and non-regular) time axis.

This complicates very much trying to plot anything else on t

[2022-08-16 01:45] Philip030601 opened #549 "Dataframe index used for plots"
I have a pandas dataframe with roughly 45 stocks that is indexed with numbers (0 to 2705) with columns: Dates, Open, High, Low, Close, etc..  Data is from dates between 2022-06-15 to 2022-08-15.  Dates are in a Date column in the dataframe and not used as the index and type pandas.core.series.  I would like to plot a chart for each stock for dates between 2022-06-15 to 2022-08-15. I looked at the

[2022-08-16 18:14] DanielGoldfarb commented on #549
@Philip030601   --  How did you get the DataFrame in the first place?   I'm asking only because the simplest thing to do is to create the datetime index ***at the same time*** that you are initially reading in the DataFrame.   I realize that ***sometimes*** this is not possible, in which case I will shortly post alternative solutions here.

[2022-08-16 18:26] DanielGoldfarb commented on #549
Assuming that the DataFrame as you described and pictured above is in a variable **`df`**, the following code should work.
In the example below, I use file ["examples/data/SP500_NOV2019_Hist.csv"](https://github.com/matplotlib/mplfinance/blob/master/examples/data/SP500_NOV2019_Hist.csv) from the mplfinance github repository:
[code]

[code]

[code]

[code]

---

The simpler solution is to create th

[2022-08-17 05:07] Philip030601 commented on #549
Much thanks for the reply and the elegant solution.  I will try it out and get back with you
.

[2022-08-19 09:27] drdoof2019 opened #550 "How to draw line graph using dataframe including zeros?"
Hello, I am developing a analysis program.
In basic version I am drawing with pyplot and result is:
![a1](https://user-images.githubusercontent.com/50274757/185587842-f4782332-f9e6-4d14-9d0e-96b503c3b7e1.png)
I wanted to draw same plot with mpl finance, but result is:
![a3](https://user-images.githubusercontent.com/50274757/185588342-6768976d-999f-46cd-a55d-469b053bf183.png)

so how can I fix this

[2022-08-19 11:09] DanielGoldfarb commented on #550
@drdoof2019

1. First try **`frame = frame.fillna(float("nan"))`**, instead of `frame = frame.fillna(0)`.

2. If that doesn't work, perhaps try using **`alines`** or **`tlines`** kwarg, [**as described here.**](https://github.com/matplotlib/mplfinance/blob/master/examples/using_lines.ipynb)

---

By the way, for what you are trying to do, there is no reason to create your own Axes object, and I st

[2022-08-19 11:25] drdoof2019 commented on #550
For future learners the resulting graph:
![a4](https://user-images.githubusercontent.com/50274757/185607927-693d81d1-7484-4b9b-894a-ec787f04eae7.png)
all I did was create a list called points and add ('Date', 'Value') for alines.
Ex: [('2022-08-14 16:00:00', 2.195), ('2022-08-15 05:00:00', 2.302)]
then add `alines=points` to `mpl.plot()` function.
Thank you for your wise advice I hope to be like y

[2022-08-19 11:25] #550 closed

[2022-08-29 15:43] kata1st opened #551 "Feature Request: Add `markevery` as a param to mpf.plot()"
The request is to add in a feature for `markevery` such that the plot can mark specific points in the plot, where the size, color and shape can be configured, or when not provided, defaults to a set value. A reference to what has been implemented in matplotlib is provided below:

https://matplotlib.org/stable/gallery/lines_bars_and_markers/markevery_demo.html

Happy to help with the implementation

[2022-08-31 01:33] DanielGoldfarb commented on #551
@kata1st
It seems to me that a `markevery` specification must be associated with a specific line.

So I guess it would apply only to `mpf.plot(df,type='line')` ***or*** to individual `mpf.make_addplot()` calls where type is unspecified (defaults to 'line') or where type='line'.  Is this what you had in mind?

Can you please provide a use case for when you would want to do this?
Thank you.  --Danie

[2022-09-02 15:42] xt99 commented on #446
Hello everyone!

I experience the same need to have alines on addplots. Is there any news on this as for now?

[2022-09-02 19:06] xt99 commented on #446
Thanks to an idea at linked workaround, I've came to working code:

[code]

Still it will be nice feature to have to support lines natively for addplots.

[2022-09-04 09:38] LamBadaMan opened #552 "Adjust style so that the center bar, open mark, and closing mark are each one pixel wide"
I would like to produce a 60-day OHLC chart that includes a volume panel. The result should look like this (except for the moving average line):

<img width="914" alt="img" src="https://user-images.githubusercontent.com/85113275/188306272-df5f41cc-eadb-4d57-b9e1-8649e07570ec.png">

In particular, I want the following requirements to be satisfied:
- Volume is shown in the bottom one-fifth of the im

[2022-09-05 03:02] DanielGoldfarb commented on #552
Read carefully through the advanced [**widths tutorial**](https://github.com/matplotlib/mplfinance/blob/master/examples/widths.ipynb) and let me know if that helps you accomplish what you are trying to do.

[2022-09-06 18:01] #552 closed

[2022-09-07 13:47] elzeir1 opened #553 "how to make label price on right"
why my plot price in left position, how to fix it?  thank,
![KAVAUSDT 45](https://user-images.githubusercontent.com/26417774/188894580-5e4557f9-2267-4809-ae9b-1072899f8b6e.png)

[2022-09-07 14:48] #553 closed

[2022-09-10 06:11] siddiqaa commented on #205
Should this be marked as closed since marketcolor_overrides seem to deliver this feature?

[2022-09-11 00:49] DanielGoldfarb commented on #205
@siddiqaa
Yes.  Thanks.

[2022-09-11 00:49] #205 closed

[2022-09-11 10:23] schroederjoa opened #554 "Feature Request: Accept alpha as list instance for hlines"
It is possible to use lists as input for hlines parameters such as colors, linestyle, linewidths and therefore specify each hline individually. However, this does not seem possible with alpha because it would only accept float, int instance, resulting in the same alpha for all hlines. Would it be possible to implement the same functionality for alpha than for the other parameters? Thank you! Using

[2022-09-12 02:44] DanielGoldfarb commented on #554
Joachim,
This looks pretty easy to do.   Let me know if you would like me to guide you through the process, so that you can make the change and contribute to the library.  (I am currently distracted with other projects).

All the best.   --Daniel

[2022-09-26 07:39] highwayroad commented on #139
Hi there, I would like to know if this possibility will be added for assigning different alpha values for alines?

[2022-09-28 00:37] DanielGoldfarb commented on #139
@highwayroad
See https://github.com/matplotlib/mplfinance/issues/554#issuecomment-1243150309

[2022-10-01 20:08] vlmercado opened #556 "Histogram for custom indicators"
Ask anything you want about mplfinance usage, project philosophy and/or priorities, or anything else related to mplfinance.
When I plot a custom indicator in a panel, the plot type is a line. I'd like to see it as a histogram. Is there a way to do that?

[2022-10-02 00:18] DanielGoldfarb commented on #556
`mpf.make_addplot()` accepts kwarg `type` which defaults to `'line'` but can be set to `'scatter'`, `'bar'`, `'ohlc'`, or `'candle'`.

You can see an example of this at cell **`In [21]:`** in [the addplot tutorial notebook](https://github.com/matplotlib/mplfinance/blob/master/examples/addplot.ipynb).

[2022-10-02 00:18] #556 closed

[2022-10-06 15:38] #549 closed

[2022-10-06 15:41] #514 closed

[2022-10-06 15:43] #540 closed

[2022-10-08 03:14] GAEfan opened #557 "Add table as a panel"
Is there a way to add a custom panel, in my case a table of params?

Or a way to add an `mpf` figure to a `plt` grid? That way, I could put the table directly under the plt figure, combined into a single figure.

Thanks

[2022-10-08 22:08] nijek commented on #554
I'm on it!

[2022-10-09 02:38] DanielGoldfarb commented on #557
Not directly, but there is probably a way to do these things with access to the mplfinance Figure and Axes objects.
If I had more time I would play around with it and give you a specific suggestion.  In the mean time I suggest you read [Acessing mplfinance Figure and Axes objects](https://github.com/matplotlib/mplfinance/wiki/Acessing-mplfinance-Figure-and-Axes-objects) and follow the links there,

[2022-10-09 02:43] DanielGoldfarb commented on #554
@nijek   Great!   This is probably as simple as changing [the `'alpha'` validator](https://github.com/matplotlib/mplfinance/blob/master/src/mplfinance/_utils.py#L499-L510) to allow a list, *similar to how the `'linewidths'` validator just above it allows a list.   Much appreciated.  Thanks.

[2022-10-09 12:43] schroederjoa commented on #554
That is great, thank you very much everyone!

On 10/9/22 04:44, Daniel Goldfarb wrote:

[2022-10-09 19:43] GAEfan commented on #557
Bingo! Thanks for your help and for this great package.

Here is a simple solution:

[code]

[2022-10-10 06:58] Anshika91 commented on #499
please assign this feature to me ...

[2022-10-10 06:59] Anshika91 commented on #481
please assign this work to me ...

[2022-10-10 06:59] Anshika91 commented on #542
please assign this task to me ...

[2022-10-12 10:56] eliasseverholt opened #560 "Update data in Tkinter application"
Hello!

I'm sorry if this is the wrong forum to ask a question about this.

I have a TkInter application where I create an mplfinance plot to show some data of a certain ticker. I also want to be able to update this data. Currently I have a GUI class that handles all the visuals, then I have a method that adds a plot and then another method that tries to edit/refresh the figure with the new data.

[2022-10-12 14:54] DanielGoldfarb commented on #560
@eliasseverholt
I am not very well versed in TkInter, however it seems reasonable that the following may work:

Call your `createPlot()` *only for the initial creation of the Figure and plot*.
You will need the Axes objects to update them later so change
[code]
to
[code]

For changes to the plot, I'd suggest writing `def updatePlot(self)` where you then pass the existing Axes object into `mpf.plot

[2022-10-12 14:57] DanielGoldfarb commented on #542
@Anshika91

What is it that you are planning to do regarding this issue?

[2022-10-12 14:59] #481 closed

[2022-10-12 17:22] Anshika91 commented on #481
To remove the tickers on the y-axis, tick_params() method has an attribute named left and we can set its value to False and pass it as a parameter inside the tick_params() function. It removes the tick on the y-axis.

[2022-10-12 20:07] eliasseverholt commented on #560
@DanielGoldfarb
Hi!

Yup, that was it! Works like a charm.

Thank you very much!

[2022-10-14 15:23] #554 closed

[2022-10-14 19:39] manuelwithbmw commented on #206
Easy and well explained here
https://github.com/matplotlib/mplfinance/issues/506

[2022-10-16 08:51] miladd72 commented on #61
it does not work for me

![image](https://user-images.githubusercontent.com/45554301/196026849-ba071a12-5af6-4982-b48d-e2cd7c3928b8.png)

[2022-10-16 10:55] DanielGoldfarb commented on #61
@miladd72 please show your code,  and your data.

Are you making sure candle edges are same color, and/or erased?

[2022-10-16 11:11] miladd72 commented on #61
mc = mpf.make_marketcolors(
    up='white',
    down='grey',
    edge={'up':'white','down':'grey'},
    wick={'up':'white','down':'grey'},
    inherit=True,
    alpha=1.0,
)
s  = mpf.make_mpf_style(base_mpf_style='classic', facecolor='black',figcolor='black', marketcolors=mc)

mpf.plot(df2, type='candle', volume=True,  style=s , tight_layout=True, axisoff=True, scale_padding=0, savefig=r'C:\Users\

[2022-10-17 19:07] hubbs5 commented on #276
See [this example](https://github.com/matplotlib/mplfinance/issues/181#issuecomment-1068141054). I didn't find anything in the official docs, but this comment helped immensely!

[2022-10-18 18:21] ateeq-code commented on #513
I would like to work on this project

[2022-10-18 18:23] ateeq-code commented on #58
look like I know the issue being.....I can fix this just assign me the work and then ta-da it's done in the blink of an eye

[2022-10-18 18:24] ateeq-code commented on #139
it is possible daniel

[2022-10-19 11:22] DanielGoldfarb commented on #513
@ateeq-code
Ateeq,
I'm glad to hear it.  Do you need any information or guidance to get started?   If not, then go ahead and describe your plan on how to implement this, or just write the code so we can take a look.  Or if you need information or guidance, please let me know and we will guide you on how best to work on this project.

All the best.  --Daniel

[2022-10-19 12:02] andreasklippinge opened #562 "Adding markers to buying signals on plot"
Hey all,

Firstly, thanks Daniel for the development of this package - I really like it!

I'm trying to implement markers in my plot for marking my buying/selling signals and did not quite understand/made it work from the documentation given. I have the following code:
[code]
This code works for plotting the markers on a plt.plot as:
[code]
But I can't make it work on mpf.plot. I've tried just cop

[2022-10-19 17:39] GeeteshMehto commented on #562
Hello sir, please assign this issue to me as i already worked on this kind of problem in past and has a great experience.

[2022-10-19 17:40] GeeteshMehto commented on #560
Hello sir, please assign this issue to me as i already worked on this kind of problem in past and has a great experience.

[2022-10-19 18:05] DanielGoldfarb commented on #58
@ateeq-code
Please describe your plan.  Or fork this repository and modify the code in your fork so that we can see your work.

[2022-10-19 18:33] stevenm100 commented on #58
just incase. fwiw....i did change my code slightly due to the way numbers are rounded. see the detail of the string to round to two characters after the decimal. Previously it would not show this value with the trailing zero:

ax1.annotate(**"%.2f" % round(last_close, 2)**, xycoords='axes fraction',  xy=(1.02, (last_close - y_min)/(y_max - y_min) ),  size=8,
                    bbox=dict(boxstyle=

[2022-10-19 18:37] DanielGoldfarb commented on #562
@andreasklippinge
Please read carefully and thoroughly through the [**entire addplot tutorial**](https://github.com/matplotlib/mplfinance/blob/master/examples/addplot.ipynb).   The tutorial explains exactly how to plot signals giving and example.  Key points to notice are:
1. the data passed into `mpf.make_addplot()` must be the same length as the data frame passed into `mpf.plot()`.   Any points

[2022-10-19 20:06] #560 closed

[2022-10-19 21:48] andreasklippinge commented on #562
@DanielGoldfarb
I gave it another try and ended up with this code, which works!!
[code]

![image](https://user-images.githubusercontent.com/96059069/196811068-e1446a05-aeff-4be4-b97c-788832934685.png)

Now I'm off trying to make sense of the backtesting package to see how well this strategy would pay off.
Cheers!

[2022-10-20 03:24] DanielGoldfarb commented on #562
@andreasklippinge
Glad to hear it.  [That's a beautiful plot you've made](https://user-images.githubusercontent.com/96059069/196811068-e1446a05-aeff-4be4-b97c-788832934685.png).  Thanks for sharing it!

[2022-10-23 07:07] ptiwari2407 opened #565 "For using markers, these references may help:"
For using markers, these references may help:

https://matplotlib.org/3.1.0/gallery/lines_bars_and_markers/marker_reference.html

https://matplotlib.org/3.2.1/tutorials/text/mathtext.html  (_note sections on numbers and arrows_)

https://stackoverflow.com/questions/44726675/custom-markers-using-python-matplotlib

https://stackoverflow.com/questions/14324270/matplotlib-custom-marker-symbol

_Origin

[2022-10-23 07:13] ptiwari2407 commented on #565
![Mpf-marker-error](https://user-images.githubusercontent.com/31136562/197379173-836d8884-8201-4d7e-8151-b9a542f729d1.png)

[2022-10-23 07:25] ptiwari2407 commented on #565
Hello, i solved the problem. Here is an interesting fix.

[code]

This answer of yours on Stack-overflow helped. [](https://stackoverflow.com/questions/71221308/adding-arrows-to-mpf-finance-plots)

[2022-10-23 07:25] #565 closed

[2022-10-25 18:45] amitgupta16033 opened #566 "How to log last Buy/Sell Signal and column value in PnF chart?"
Thank you, for making such a powerful tool. I am using mplfinance to plot point and figure charts. Can I log or store the last buy or sell signal generated in the chart? Also, can we log the last column (X or O) plotted by the script?

Note - When a column of X moves above previous column of 'X', it is considered as a 'BUY' signal
Similarly, if a column of 'O' goes below the previous column of 'O'

[2022-10-25 23:15] DanielGoldfarb commented on #566
You can access the values that mplfinance calculated to plot the point and figure chart.
See https://github.com/matplotlib/mplfinance/wiki/Access-to-mplfinance-Calculated-Values

[2022-10-28 16:17] DanielGoldfarb commented on #466
#471  ( Thank you @miya779 )  Released to production on Dec 15, 2021 ( mplfinance version 0.12.8b6 )

[2022-10-29 20:42] amitgupta16033 commented on #566
Thank you! Your work is really great.

[2022-10-29 23:37] DanielGoldfarb commented on #566
@amitgupta16033   my pleasure ... all the best.

[2022-10-30 14:12] 881997 commented on #496
I write ' open' too

[2022-11-01 00:38] DanielGoldfarb commented on #496
Since this is not entirely uncommon, and since it can be easy to ***not notice*** when there is leading or trailing whitespace in column names, I'm going to turn this Issue into an Enhancement to have the code check for leading or trailing whitespace in column names if and when a column is not found, and suggest to the user that may be the problem.

[2022-11-01 01:20] DanielGoldfarb commented on #206
Implemented: #563

[2022-11-01 01:20] #206 closed

[2022-11-01 14:08] #562 closed

[2022-11-01 19:58] amitgupta16033 opened #568 "Bug Report:"
Hi,

The calculation of 'pnf_counts' is incorrect. Hence, leading to incorrect plotting. I am attaching the out of mplfinance as well the correct chart from 'Stockcharts.com'. Following parameters were used -

Box Size = 180
Reversal =3

Code excerpts -

data1 = data.loc[:, ['Date', 'Open', 'High', 'Low', 'Close', 'Volume']]
    datanew = data1.set_index(['Date']).astype(float)
    pnf_kwargs = di

[2022-11-02 12:01] facealtha commented on #513
Hello, we are students from CMU-Q looking to contribute to open-source projects as part of our final homework assignment for foundations of software engineering.

We would like to ask for permission to work on this as well.

[2022-11-02 15:26] DanielGoldfarb commented on #568
Please provide all of your input data that you passed into mpf.plot().    Thank you.

[2022-11-02 18:53] amitgupta16033 commented on #568
Hi Daniel, please find below all the parameters I used within mpf.plot(). I imported mplfinance as mf

 mf.plot(datanew, **pnf_kwargs, style='starsandstripes', pnf_params=dict(box_size=pnf_box_size, reversal=pnf_reversal), return_calculated_values=cv)

I defined pnf_box_size as 1% of last close price
reversal was set to 3.

I have not modified or added anything else. Thank you !

[2022-11-02 19:00] DanielGoldfarb commented on #568
Amit,
Thanks.  I will try to reproduce in the next day or so and let you know what I find.  --Daniel

[2022-11-02 21:42] facealtha commented on #320
hello, we would like to contribute to this. Can you please elaborate on what you wish to implement?

[2022-11-02 22:26] #506 closed

[2022-11-02 22:26] #139 closed

[2022-11-02 22:28] #496 closed

[2022-11-02 22:28] #427 closed

[2022-11-02 22:32] DanielGoldfarb commented on #513
@facealtha
Permission is granted.  You should read through [the code](https://github.com/matplotlib/mplfinance/tree/master/src/mplfinance) and then propose a solution to an Issue that is described in this repository.

Of course you need to first have some idea how to use this package.  You can learn the package by [going through the tutorials listed here](https://github.com/matplotlib/mplfinance#c

[2022-11-03 17:22] DanielGoldfarb commented on #568
This line of code:
[code]
makes no sense.   mplfinance will fail because the index is not a datetime index.

[2022-11-03 18:10] DanielGoldfarb commented on #568
I am able to reproduce the chart you have [posted here](https://drive.google.com/file/d/1_ZpgnahDxZGLQpVIH2kNML_zBxLN_VqH/view) and the chart closely matches a chart that I can see on another system.

However the [other image you have posted here](https://drive.google.com/file/d/1vpa8e7mI3GGpQTnQdJE5YpLWyNWHh8Pu/view) does not make sense to me given the data you have posted.  Notice on this chart

[2022-11-16 10:32] andreasklippinge commented on #446
Hey @waemm @DanielGoldfarb @xt99 ,

I came up with a work-around solution for my charts - you can use the fill_between function for drawing the lines in whatever panel you want. So for RSI I want to (among other things) mark the 30 and 70 level with lines. I wrote these lines to make it happen:

[code]

So basically I'm creating a fill_between line with the same values which creates a simple line.

[2022-11-22 17:47] DanielGoldfarb commented on #568
@amitgupta16033
Amit, I got a chance to take a closer look at this, and indeed I am convinced that mplfinance point-and-figure calculations are definitely wrong (at lease in some cases).  I am however ***not*** convinced that stockcharts.com is correct, or at least the image and data that you posted supposedly from stockcharts.com do not match each other.

I have re-written the mplfinance point-an

[2022-11-22 19:43] amit7702 commented on #568
Hi Daniel,

Once again thank you for your response. I appreciate that you have invested time and effort in updating the logic. Honestly, I do not know much about python but I can help you with the Point and Figure logic (based on High/low/Close price). I can even help you with  percentage/fixed box sizes for point and figure. Please let me know if I can help you with these ideas.

I am eagerly wai

[2022-11-24 01:40] DanielGoldfarb commented on #568
Amit,

Thanks.  If you specify the box size as a percentage, do you want to see a box size as a percent of (a) the most recent close price, (b) the average close price of the entire data set, or (c) something else?

If seems to me, just glancing around, that most systems use the percent of the most recent close price.  Is that what you expect?

[2022-11-24 10:54] amit7702 commented on #568
Yes Daniel,  box size as a percent of  the most recent close price. This is the most preferred approach.

[2022-11-25 20:35] The1iAmNeo opened #572 "Feature Request:"
i want to create a footprint chart like this one where i am able to make an open high low close but also show how much trading volume was at each y value of the candle

here is an example of what i am talking about

![image](https://user-images.githubusercontent.com/95321908/204052918-3fad026f-4d1b-4393-acb0-dea401dda0bd.png)

its very easy to get the data ... getting and understanding how to orga

[2022-11-26 23:38] DanielGoldfarb commented on #572
@The1iAmNeo
Very interesting!  I will take a closer look in a week or so (busy with another project for the next week or so).  At that time I will look into how best to implement this, and where it should fall in priorities.  How are your python coding skills?   Perhaps you can help with some of the coding?
Thanks.   All the best.  --Daniel

[2022-11-27 03:11] The1iAmNeo commented on #572
@DanielGoldfarb hey thanks for taking an interest ... it would really help out the algo trading community so much.

my coding skills aren't the greatest but would love to chat and see what i could help with ... only been coding for like 2 months so not sure what i could do lol ... but i am willing to try because having this would be a life saver

[2022-11-27 16:24] diliprk commented on #572
I am interested in developing this feature as well, I work as a Data Engineer at `nFerence.ai` . However, I don't fully understand the underlying mechanisms, logic, and math behind this foot prints chart so if I could get some guidance on that front I can collaborate on the coding. BTW, is it possible to make the charts interactive like in plotly or bokeh?

[2022-11-28 16:48] tdavidge opened #573 "X-Axis Date and Time series"
I am trying to create a 5 day chart of Intraday Stock data using mplfinance. From Open to Close only, no data gaps. I can get a chart to save and/or show but am struggling with formatting the grid spacing and the x-axis interval/labels. I have been trying to get this working in matplotlib for what seems like an age now and I just cannot get it work. At least with mplfinance I was able to get a cha

[2022-11-29 11:41] traderblakeq commented on #60
First, thank you for this fantastic library.

Second: Is this text thingie implemented ?.

[2022-11-29 12:04] DanielGoldfarb commented on #60
@traderblakeq
Not yet implemented.   The ability to enter any type of datetime or timestamp (including both objects and strings of) requires the ability to interpolate and sometimes extrapolate on the time axis.   Since most users prefer to *not* show non-trading periods, the time axis is then non-linear/discontinuous.

Presently in the middle of a low level enhancement to make the non-linear/disc

[2022-11-30 13:14] traderblakeq commented on #420
Hi Daniel,

Is this workaround still needed, or did you already implement "modify the y-axis tick positions in mpf.plot()" ?.

[2022-11-30 17:15] tdavidge commented on #573
So, I am making progress albeit with great difficulty. With the help of [this](https://stackoverflow.com/questions/70521491/mplfinance-xaxis-ticks-every-n-minutes-but-not-if-datapoint-doesnt-exist) I have managed to get the first attachement by show and then manually saving. However, when using savefig I get the second attachement.
![chart1](https://user-images.githubusercontent.com/119343415/2048